@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

#headers{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.taskborder{
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    padding: 10px;

}

.activePane{
    background: transparent;
}

.list-group-item.active{
    background: #3f506d !important;
    border: transparent !important;
    outline: transparent !important;
}
